

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */





body {
  color: #434343;
  background: #a4dba7;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about {
	background-color: rgba(151, 200, 151,1);
}

