

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */





body {
  color: #434343;
  background: #a4dba7;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section {
  margin-bottom: 30px;
  padding: 30px;
}
.welcome-section {
  top: 20;
  line-height: 1.6;
  background: #F5F5F5;
  min-height: 55vh;
  padding-top: 45vh;
  text-align: 
}
.latest-section {
  top: 20;
  line-height: 1.6;
  background: #d7d7d7;
  min-height: 55vh;
  padding-top: 45vh;
  text-align: 
}
.projects-section {
  top: 20;
  line-height: 1.6;
  background: #cccccc;
  min-height: 55vh;
  padding-top: 45vh;
  text-align: 
}
.experience-section {
  top: 20;
  line-height: 1.6;
  background: #bababa;
  min-height: 55vh;
  padding-top: 45vh;
  text-align: 
}
.about {
	background-color: rgba(151, 200, 151,1);
}

